body {
  margin: 0;
  font-family: 'Montserrat', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white!important;
}
.btn{
  outline: none;
  border:none;
  overflow: hidden;
  text-decoration: none;
}
.btn:active {
  outline: none;
  box-shadow: none;

}
.fnt-mont{
  font-family: 'Montserrat', sans-serif;
}
.btn-margin{
  margin-right: 0px;
}
.fnt-title{
  font-size: 13px;
  font-weight: 600;
  height: 30px;
}
.card{
  border: none!important;
  overflow: hidden;
}
.hover{
  overflow: hidden;
}
.card-img-top:hover{
transform: scale(1.03);
transition: 0.6s ease;
}
.padding-top-bottom{
  padding: 50px 0px;
}
.lightgrey-color{
  background-color: rgb(247, 247, 247);
}
.fnt-color{
  color: rgb(37, 37, 37);
}
.fw-1{
    font-size: 14px!important;
    font-weight: 600;
}
.fw-2{
  font-size: 13px!important;
  font-weight: 500;
}
.fw-3{
  font-size: 25px!important;
  font-weight: 500;
}
.in-dec-btn{
  border-radius: 50%!important;
}
.w-15{
  width: 40px;
  
}
.fw-4{
  font-size: 14px;
  margin-bottom: 9px;
}

.icon-provider{
  z-index: 999;
}
.z-index-100{
  z-index: 100;
}
.z-index-0{
  z-index: 0;
}
.fa-cart-shopping{
  color: black;
  font-size: 20px;
}
.bg-dark{
  background: black;
}
.bg-lightgrey{
  background: rgb(248, 248, 248);
}





/* Contact From Css */



body{
  margin-top:20px;
  background:#eee;
}
.gradient-brand-color {
  background-image: -webkit-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
  background-image: -ms-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
  color: #fff;
}
.contact-info__wrapper {
  overflow: hidden;
  border-radius: .625rem .625rem 0 0
}

@media (min-width: 1024px) {
  .contact-info__wrapper {
      border-radius: 0 .625rem .625rem 0;
      padding: 5rem !important
  }
}
.contact-info__list span.position-absolute {
  left: 0
}
.z-index-101 {
  z-index: 101;
}
.list-style--none {
  list-style: none;
}
.contact__wrapper {
  background-color: #fff;
  border-radius: 0 0 .625rem .625rem
}

@media (min-width: 1024px) {
  .contact__wrapper {
      border-radius: .625rem 0 .625rem .625rem
  }
}
@media (min-width: 1024px) {
  .contact-form__wrapper {
      padding: 5rem !important
  }
}
.shadow-lg, .shadow-lg--on-hover:hover {
  box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
}
.bdr-1{
  border: 1px solid rgb(189, 189, 189)!important;
}

/* Contact Form Css */
.order-tracking-btn{
  margin: auto;
}

.bx{
  border-radius: 50%;
  margin: auto;
}
.fnt-carousel-2{
  font-size: 45px;
  padding: 40px 10px;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden ;
  align-items: start;
  width: 20%;

}
.float-right{
  float: right!important;
}
.slider{
  width: 78%;
}
.asd{
  margin: 0px;
  padding: 0px;
}
.carousel1-md-sm{
  display: none;
}
.carousel-2-md ,.carousel-2-sm{
  display: none;
}
@media screen and (max-width: 1100px) {
  .carousel1-lg{
    display: none;
  }
  .carousel1-md-sm{
    display: block;
  }
  .carousel-2-lg ,.carousel-2-sm{
    display: none;
  }
  .carousel-2-md{
    display: block;
  }
  .bx{
    width: 140px;
  }
}

@media screen and (max-width: 768px) {
  .fnt-carousel-2{
    font-size: 25px;
    width: 20%;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden ;
  
  }
  .bx{
    width: 100px;
  }

}

@media screen and (max-width: 550px) {
  
  .carousel-2-lg ,.carousel-2-md{
    display: none;
  }
  .carousel-2-sm{
    display: block;
  }
  .fnt-carousel-2{
    display: none;
  }
  .slider{
    width: 100%;
  }
}





/* CArousel 5 */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}





/* last carousel */

/* THE EDIT CSS */

.underline{
  border: 1px solid rgb(221, 220, 220);
  margin: -10px auto 10px;
  width: 30%;
}
@media screen and (max-width: 768px) {
.heading{
  font-size: 25px;
}
.underline{
  border: 1px solid rgb(221, 220, 220);
  margin: -10px auto 10px;
  width: 45%;
}
}
@media screen and (max-width: 550px) {
  .heading{
    font-size: 20px;
  } 
  .underline{
    border: 1px solid rgb(221, 220, 220);
    margin: -10px auto 10px;
    width: 45%;
  }
}
@media screen and (max-width: 350px) {
  .heading{
    font-size: 17px;
  }
  .underline{
    border: 1px solid rgb(221, 220, 220);
    margin: -10px auto 10px;
    width: 48%;
  }
}








  /* THE EDIT CSS */


  /* CART CSS/////////////////////////////////////////////////////////////////////////////////////////// */
  #CartCheckoutBtn{
    border-radius: 10px;
    padding: 10px 0px;
  }
  #CartItems{
    height: 100px;
  }
  #qntyBx{
    width: 20%;
    margin: 0px auto;
  }
  input{
    border: none;
    width: 10%;
    background-color: transparent;
  }
  input:focus {
    outline: none;
  }
  button:active{
    box-shadow: none;
    outline: none;
  }
  button:focus {
    box-shadow: none;
  }